* {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
  background-color: #f1f1f1;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.main {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  word-break: break-all;
}

.row {
  margin: 0px;
}

/* .row,
.row > [class^="col-"] {
  padding: 5px;
} */

[class^="col-"]{
  float: left;
}

.col-1{ width: 8.33 }
.col-2{ width: 16.66% }
.col-3{ width: 25% }
.col-4{ width: 33.33% }
.col-5{ width: 41.65% }
.col-6{ width: 50% }
.col-7{ width: 58.33% }
.col-8{ width: 66.66% }
.col-9{ width: 75% }
.col-10{ width: 83.33% }
.col-11{ width: 91.66% }
.col-12{ width: 100% }

.row:after {
  content: "";
  display: table;
  clear: both;
}

#input_cep {
  background:#acacac38;
  border: none;
  border-bottom: 1px solid
  #ccc;
  height: 2em;
  font-size: 1.2em;
  padding: 10px;
  color:whitesmoke;
  padding-right: 40px;
}

button {
  font-size: 1em;
  padding: 5px;
  border-radius: 45%;
  border: 1px solid transparent;
  width: 30px;
  margin-left: -40px;
}

button:hover{
  cursor: pointer;
  background: none;
  border: 1px solid white;
  color: white;
}

#cep-card {
  background-color: white;
  padding: 10px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

#cep{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block !important;
  width: unset !important;
}

#cep-card span{
  display: block;
  width: 100%;
  padding: 0px 5px 5px 5px;
  color: #393939;
}

#cod-ibge, #cod-gia{
  color: #777 !important;
}

#close_btn{
  float: right;
}

#download_btn{
  float: left;
}

#close_btn:hover, #download_btn:hover{
  color: #585858;
  cursor: pointer;
}

#message{
  display: block;
  text-align: center;
  padding: 20px;
  color:
  #393939;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.6)), url("../image/hero_image.jpg");
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

@media screen and (max-width: 900px) {
  [class^="col-"] {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  [class^="col-"] {
    width: 100%;
  }
}
